.useful-categories {
    --news-img-width: 200px;
    --useful-categories-gutters: 45px;
    --useful-categories-max-width: 344px;
    --useful-categories-width: 344px;
    display: flow-root;
    margin-bottom: 25px;

    @media (min-width: 768px) {
        --useful-categories-width: 50%;
    }

    @media (min-width: 1180px) {
        --useful-categories-width: 33.333%;
    }

    .items-more {
        margin-top: 45px;
        margin-bottom: 30px;
    }
}

.useful-categories__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(var(--useful-categories-gutters) / -2);
    margin-right: calc(var(--useful-categories-gutters) / -2);

    @media (min-width: 768px) {
        justify-content: space-between;
    }

    &:after {
        content: '';
        flex: auto;
    }

    .useful-group {
        max-width: var(--useful-categories-max-width);
        flex-basis: calc(var(--useful-categories-width) - var(--useful-categories-gutters));
        margin-left: calc(var(--useful-categories-gutters) / 2);
        margin-right: calc(var(--useful-categories-gutters) / 2);
        flex-shrink: 0;
    }
}

.useful-group {
    padding-top: 24px;
    margin-bottom: 30px;
}

.useful-group__ttl {
    font-size: 28px;
    line-height: 1.833;
    color: var(--theme-cr-txt-alt);
    font-weight: 700;
    margin-bottom: 20px;
}

.news-item {
    padding: 16px;
    background-color: rgba(#fff, .1);
    font-size: 14px;
    line-height: 160%;
    border-radius: 10px;
    color: rgba(#fff, .75);
    text-decoration: none;

    @media (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    @media (min-width: 992px) {
        &:hover {
            background-color: rgba(#000, .1);
        }
    }
}

.news-item__img {
    flex-shrink: 0;
    flex-basis: var(--news-img-width);
    max-width: var(--news-img-width);
    margin: -8px 0 -8px -8px;

    ~ .news-item__txt {
        padding-top: 2px;
        align-content: baseline;
        flex-direction: row;
        flex-wrap: wrap;

        @media (min-width: 992px) {
            padding-left: 24px;
            max-width: calc(100% - var(--news-img-width));
            flex-basis: calc(100% - var(--news-img-width));
        }

        .news-item__date {
            line-height: 118.7%;
            width: auto;
            margin-bottom: 10px;
            margin-left: auto;
        }

        .news-item__ttl {
            order: -1;
            margin-bottom: 10px;
        }
    }
}

.news-item__ttl {
    color: #fff;
    line-height: 118.7%;
    margin-bottom: 5px;
}

.news-item__txt {
    display: flex;
    flex-direction: column;

    p {
        width: 100%;
        max-width: 730px;
    }
}

.news-item__date {
    width: 100%;
    font-weight: 400;
    opacity: .75;
    margin-bottom: 5px;
}
