<div class="useful-categories">
    <div class="container">
        <div class="useful-categories__container">
            <div class="useful-group">
                <h3 class="useful-group__ttl">Новости</h3>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Казино дающие деньги за регистрацию Украина
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Лучшие игровые автоматы с выводом денег в казино!
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Игровые автоматы Вулкан на деньги
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Лучшие игровые автоматы с выводом денег в казино!
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Игровые автоматы Вулкан на деньги
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Лучшие игровые автоматы с выводом денег в казино!
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Игровые автоматы Вулкан на деньги
                </a>
            </div>

            <div class="useful-group">
                <h3 class="useful-group__ttl">Блог</h3>

                <a href="" class="blog-item">
                    <span class="blog-item__media">
                        <img src="img/img-blog.jpg" alt="">
                    </span>
                    <span class="blog-item__caption">Обзор мсл лото забава. Доступное развлечение с высокой вероятностью получения выигрыш</span>
                </a>

                <a href="" class="blog-item">
                    <span class="blog-item__media">
                        <img src="img/img-blog.jpg" alt="">
                    </span>
                    <span class="blog-item__caption">Обзор мсл лото забава. Доступное развлечение с высокой вероятностью получения выигрыш</span>
                </a>
            </div>

            <div class="useful-group">
                <h3 class="useful-group__ttl">Интервью</h3>

                <a href="" class="blog-item">
                    <span class="blog-item__media">
                        <img src="img/img-blog.jpg" alt="">
                        <button class="blog-item__btn-play">
                            <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 10.768C22.3333 11.5378 22.3333 13.4623 21 14.2321L3.75 24.1913C2.41666 24.9611 0.750001 23.9989 0.750001 22.4593L0.750002 2.54071C0.750002 1.0011 2.41667 0.0388563 3.75 0.808657L21 10.768Z" fill="white"/>
                            </svg>
                        </button>
                    </span>
                    <span class="blog-item__caption">Обзор игровой платформы Novotech</span>
                </a>

                <a href="" class="blog-item">
                    <span class="blog-item__media">
                        <img src="img/img-blog.jpg" alt="">
                        <button class="blog-item__btn-play">
                            <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 10.768C22.3333 11.5378 22.3333 13.4623 21 14.2321L3.75 24.1913C2.41666 24.9611 0.750001 23.9989 0.750001 22.4593L0.750002 2.54071C0.750002 1.0011 2.41667 0.0388563 3.75 0.808657L21 10.768Z" fill="white"/>
                            </svg>
                        </button>
                    </span>
                    <span class="blog-item__caption">Как обойти блокировку игровых сайтов ?</span>
                </a>
            </div>
        </div>
    </div>
</div>

