<div class="useful-categories">
    <div class="container">
        <div class="useful-categories__container">
            <div class="useful-group">
                <h3 class="useful-group__ttl">Новости</h3>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Казино дающие деньги за регистрацию Украина
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Лучшие игровые автоматы с выводом денег в казино!
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Игровые автоматы Вулкан на деньги
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Лучшие игровые автоматы с выводом денег в казино!
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Игровые автоматы Вулкан на деньги
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Лучшие игровые автоматы с выводом денег в казино!
                </a>

                <a href="" class="news-item">
                    <span class="news-item__date">02.06.21</span>
                    Игровые автоматы Вулкан на деньги
                </a>
            </div>

            <div class="useful-group">
                <h3 class="useful-group__ttl">Блог</h3>
            </div>

            <div class="useful-group">
                <h3 class="useful-group__ttl">Интервью</h3>
            </div>
        </div>
    </div>
</div>

