<section class="best-offer">
    <div class="container">
        <h2>Лучшие предложения</h2>

        <div class="best-offer__container-slider js-best-offer-swiper">
            <div class="best-offer__list swiper-wrapper">
                <a href="" class="offer-item">
                    <div class="circle-rating" data-fill="75" style="--circle-cr: #236054; --bar-cr: #00ff66;">
                        <picture>
                            <source type="image/webp" srcset="img/slotoking.webp">
                            <source type="image/png" srcset="img/slotoking.png">
                            <img class="offer-item__logo" src="img/slotoking.png" alt="">
                        </picture>
                        <div class="circle-rating__bar"></div>
                    </div>

                    <div class="offer-item__content">
                        <h3 class="offer-item__ttl">Slotoking</h3>
                        <p>Welcome Offer: 200 Free Spins & $1,250 Deposit Match!</p>
                    </div>
                </a>

                <a href="" class="offer-item">
                    <div class="circle-rating" data-fill="70" style="--circle-cr: #236054; --bar-cr: #00ff66;">
                        <picture>
                            <source type="image/webp" srcset="img/reel.webp">
                            <source type="image/png" srcset="img/reel.png">
                            <img class="offer-item__logo" src="img/reel.png" alt="">
                        </picture>
                        <div class="circle-rating__bar"></div>
                    </div>

                    <div class="offer-item__content">
                        <h3 class="offer-item__ttl">Reel Emperor</h3>
                        <p>Welcome Offer: 200 Free Spins & $1,250 Deposit Match!</p>
                    </div>
                </a>

                <a href="" class="offer-item">
                    <div class="circle-rating" data-fill="45" style="--circle-cr: rgba(255, 0, 0, 0.23); --bar-cr: #f00;">
                        <picture>
                            <source type="image/webp" srcset="img/777.webp">
                            <source type="image/png" srcset="img/777.png">
                            <img class="offer-item__logo" src="img/777.png" alt="">
                        </picture>
                        <div class="circle-rating__bar"></div>
                    </div>

                    <div class="offer-item__content">
                        <h3 class="offer-item__ttl">777 Original</h3>
                        <p>Welcome Offer: 200 Free Spins & $1,250 Deposit Match!</p>
                    </div>
                </a>

                <a href="" class="offer-item">
                    <div class="circle-rating" data-fill="50" style="--circle-cr: rgba(255, 199, 0, 0.23); --bar-cr: #ffc700;">
                        <picture>
                            <source type="image/webp" srcset="img/unibet.webp">
                            <source type="image/png" srcset="img/unibet.png">
                            <img class="offer-item__logo" src="img/unibet.png" alt="">
                        </picture>
                        <div class="circle-rating__bar"></div>
                    </div>

                    <div class="offer-item__content">
                        <h3 class="offer-item__ttl">Unibet Casino</h3>
                        <p>Welcome Offer: 200 Free Spins & $1,250 Deposit Match!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
