<div class="slots">
    <div class="container">
        <div class="slots__heading">
            <h2 class="slots__ttl">Популярные слоты</h2>
            <a href="" class="link-primary">Все слоты</a>
        </div>

        <div class="slots__container">
            <div class="slot-item">
                <div class="slot-item__logo">
                    <img src="img/logo-wolf.jpg" alt="">
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__name">Wolf Gold</div>
                    <div class="slot-item__stats">
                        Рейтинг <strong class="slot-item__stats-val">94</strong>
                        <span class="slot-item__divider"></span>
                        RTP <strong class="slot-item__stats-val">96.7%</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Играть</button>
                </div>
            </div>

            <div class="slot-item">
                <div class="slot-item__logo">
                    <img src="img/logo-wolf.jpg" alt="">
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__name">Wolf Gold</div>
                    <div class="slot-item__stats">
                        Рейтинг <strong class="slot-item__stats-val">94</strong>
                        <span class="slot-item__divider"></span>
                        RTP <strong class="slot-item__stats-val">96.7%</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Играть</button>
                </div>
            </div>

            <div class="slot-item">
                <div class="slot-item__logo">
                    <img src="img/logo-wolf.jpg" alt="">
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__name">Wolf Gold</div>
                    <div class="slot-item__stats">
                        Рейтинг <strong class="slot-item__stats-val">94</strong>
                        <span class="slot-item__divider"></span>
                        RTP <strong class="slot-item__stats-val">96.7%</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Играть</button>
                </div>
            </div>

            <div class="slot-item">
                <div class="slot-item__logo">
                    <img src="img/logo-wolf.jpg" alt="">
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__name">Wolf Gold</div>
                    <div class="slot-item__stats">
                        Рейтинг <strong class="slot-item__stats-val">94</strong>
                        <span class="slot-item__divider"></span>
                        RTP <strong class="slot-item__stats-val">96.7%</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Играть</button>
                </div>
            </div>
        </div>
    </div>
</div>

