<header class="header">
    <div class="header__container container--md">
        <a href="">
            <img class="logo" src="components/header/img/logo.svg" alt="Casino Online">
        </a>

        <nav class="main-nav mobile-menu">
            <ul class="main-nav__list">
                <li><a href="" class="main-nav__link">Бонусы</a></li>
                <li><a href="" class="main-nav__link">Фри Спины</a></li>
                <li><a href="" class="main-nav__link">Слоты</a></li>
                <li><a href="" class="main-nav__link">Обзор казино</a></li>
                <li><a href="" class="main-nav__link">Предложения</a></li>
            </ul>
        </nav>

        <div class="search">
            <button type="button" class="btn-default"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></button>
        </div>

        <div class="navbar__btn js--menu-trigger" aria-expanded="false" aria-label="Menu Button" role="button">
            <span class="bar"></span>
        </div>
    </div>
</header>
