@import '../general/vendors/include-media';
@import '../general/base/variables';
@import '../general/abstracts/helpers';
@import '../general/abstracts/classes';
@import '../general/abstracts/mixins';
@import '../general/abstracts/responsive-visibility';
@import '../general/abstracts/responsive-utilities';

@import 'main-nav';

:root {
    --scrollbar-width: 0;
}

.header {
    padding-top: 14px;
    padding-bottom: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: calc(100vw - var(--scrollbar-width));
    z-index: 999;

    /*.scrolled & {
        background-color: rgba(#fff, .8);
    }*/

    @include media('>=desktop') {
        position: absolute;
        padding-top: 40px;
        padding-bottom: 25px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<desktop') {
        max-width: 83.073vw;
    }

    @include media('<phone') {
        max-width: none;
    }

    @include media('>=largescreen') {
        padding-right: 115px;
    }
}

.logo {
    width: 44px;
    height: 44px;

    @include media('<desktop') {
        position: relative;
        z-index: 9999;
    }

    @include media('>=widescreen') {
        width: 135px;
        height: 47px;
    }
}

.search__cta {
    color: #fff;
}
