<div class="slots">
    <div class="container">
        <div class="slots__heading">
            <h2 class="slots__ttl">Не пропустите предложения</h2>
            <a href="" class="link-primary">Все предложения</a>
        </div>

        <div class="slots__container">
            <div class="slot-item slot-item--gradient">
                <div class="slot-item__rating">
                    <div class="circle-rating">
                        <svg viewBox="0 0 36 36" class="circle-rating__chart">
                            <path style="stroke: #00ff66;" class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                            <path style="stroke: #0f6;" class="circle-rating__circle" stroke-dasharray="30, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        </svg>
                        <picture>
                            <source type="image/webp" srcset="img/reel.webp">
                            <source type="image/png" srcset="img/reel.png">
                            <img class="circle-rating__logo" src="img/reel.png" alt="">
                        </picture>
                    </div>
                    <span class="slot-item__casino-name">Slotoking</span>
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__txt">Приветственный пакет: <br>
                        <strong>24 000 UAH + 225 FS</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Перейти</button>
                </div>
            </div>

            <div class="slot-item slot-item--gradient">
                <div class="slot-item__rating">
                    <div class="circle-rating">
                        <svg viewBox="0 0 36 36" class="circle-rating__chart">
                            <path style="stroke: #00ff66;" class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                            <path style="stroke: #0f6;" class="circle-rating__circle" stroke-dasharray="30, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        </svg>
                        <picture>
                            <source type="image/webp" srcset="img/reel.webp">
                            <source type="image/png" srcset="img/reel.png">
                            <img class="circle-rating__logo" src="img/reel.png" alt="">
                        </picture>
                    </div>
                    <span class="slot-item__casino-name">Slotoking</span>
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__txt">Приветственный пакет: <br>
                        <strong>24 000 UAH + 225 FS
                            <br>
                            +150% на депозит</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Перейти</button>
                </div>
            </div>

            <div class="slot-item slot-item--gradient">
                <div class="slot-item__rating">
                    <div class="circle-rating">
                        <svg viewBox="0 0 36 36" class="circle-rating__chart">
                            <path style="stroke: #00ff66;" class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                            <path style="stroke: #0f6;" class="circle-rating__circle" stroke-dasharray="30, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        </svg>
                        <picture>
                            <source type="image/webp" srcset="img/reel.webp">
                            <source type="image/png" srcset="img/reel.png">
                            <img class="circle-rating__logo" src="img/reel.png" alt="">
                        </picture>
                    </div>
                    <span class="slot-item__casino-name">Slotoking</span>
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__txt">Приветственный пакет: <br>
                        <strong>24 000 UAH + 225 FS</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Перейти</button>
                </div>
            </div>

            <div class="slot-item slot-item--gradient">
                <div class="slot-item__rating">
                    <div class="circle-rating">
                        <svg viewBox="0 0 36 36" class="circle-rating__chart">
                            <path style="stroke: #00ff66;" class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                            <path style="stroke: #0f6;" class="circle-rating__circle" stroke-dasharray="30, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        </svg>
                        <picture>
                            <source type="image/webp" srcset="img/reel.webp">
                            <source type="image/png" srcset="img/reel.png">
                            <img class="circle-rating__logo" src="img/reel.png" alt="">
                        </picture>
                    </div>
                    <span class="slot-item__casino-name">Slotoking</span>
                </div>

                <div class="slot-item__content">
                    <div class="slot-item__txt">Приветственный пакет: <br>
                        <strong>24 000 UAH + 225 FS
                            <br>
                            +150% на депозит</strong>
                    </div>
                </div>

                <div class="slot-item__btns">
                    <button class="slot-item__btn --blue">Перейти</button>
                </div>
            </div>
        </div>
    </div>
</div>

