<section class="intro">
    <div class="container--cms">
        <h1 class="intro__heading">Online Casino</h1>
        <div class="intro__sticker">
            <svg class="intro__sticker-ico" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 18 15.8" style="enable-background:new 0 0 18 15.8;" xml:space="preserve">
                <path style="fill:#01B94A" d="M7.1,15.8L0.4,8.9c-0.6-0.6-0.6-1.5,0-2.1C1,6.2,2,6.2,2.6,6.8l4.3,4.4l8.5-10.7c0.5-0.6,1.5-0.8,2.1-0.2c0.6,0.5,0.8,1.5,0.2,2.1L7.1,15.8z"/>
            </svg>
            Approved gaming license
        </div>
        <p class="intro__sub-heading">Complete guide to the best Canadian casinos</p>
        <p>CanadaCasino is your guide to all things online casino! Here, you will find honest casino and game reviews, together with useful guides that have been expertly put together to help you enjoy the best online casino experience from Canada!</p>
    </div>
</section>
