@import '../general/vendors/include-media';
@import '../general/base/variables';
@import '../general/abstracts/helpers';
@import '../general/abstracts/mixins';

.intro {
    @include adaptive-font(14, 18);
    line-height: 1.8333;
    color: var(--theme-cr-txt-alt);
    margin-bottom: 25px;

    @include media('>=desktop') {
        margin-bottom: 50px;
    }
}

.intro__sub-heading {
    @include adaptive-font(24, 32);
    line-height: 1.25;
}
