.footer {
    background-color: var(--theme-cr-1);
    color: var(--theme-cr-txt-alt);
    position: relative;
    overflow: hidden;
}

.footer__container {
}

.partners-logos {
    padding-top: 41px;
    padding-bottom: 38px;

    @media (min-width: 992px) {
    }
}

.partners-logos__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
}

.partners-logos__item {
    margin-left: 25px;
    margin-right: 25px;
}

.footer__copyrights {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--theme-cr-2);
    font-size: 15px;
    text-align: center;

    @media (min-width: 992px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
