<footer class="footer">
    <div class="partners-logos">
        <div class="container">
            <ul class="partners-logos__list">
                <li class="partners-logos__item"><img src="components/footer/img/gambling-therapy-logo.svg" alt=""></li>
                <li class="partners-logos__item"><img src="components/footer/img/begambleawareorg-logo.svg" alt=""></li>
                <li class="partners-logos__item"><img src="components/footer/img/dmca-logo.svg" alt=""></li>
                <li class="partners-logos__item"><img src="components/footer/img/21+.svg" alt=""></li>
                <li class="partners-logos__item"><img src="components/footer/img/copyright-house-logo.svg" alt=""></li>
            </ul>
        </div>
    </div>

    <div class="footer__copyrights">
        <div class="container">
            <p>© 2017-2020 Онлайн казино для украинцев.</p>
        </div>
    </div>
</footer>
