<div class="blog">
    <div class="container">
        <div class="blog__container">
            <a href="" class="blog-item">
                <span class="blog-item__media">
                    <img src="img/img-blog.jpg" alt="">
                </span>
                <span class="blog-item__caption">Обзор мсл лото забава. Доступное развлечение с высокой вероятностью получения выигрыш</span>
            </a>

            <a href="" class="blog-item">
                <span class="blog-item__media">
                    <img src="img/img-blog.jpg" alt="">
                </span>
                <span class="blog-item__caption">Обзор мсл лото забава. Доступное развлечение с высокой вероятностью получения выигрыш</span>
            </a>

            <a href="" class="blog-item">
                <span class="blog-item__media">
                    <img src="img/img-blog.jpg" alt="">
                </span>
                <span class="blog-item__caption">Какие встречаются покерные комбинации</span>
            </a>

            <a href="" class="blog-item">
                <span class="blog-item__media">
                    <img src="img/img-blog.jpg" alt="">
                </span>
                <span class="blog-item__caption">Обзор мсл лото забава. Доступное развлечение с высокой вероятностью получения выигрыш</span>
            </a>

            <a href="" class="blog-item">
                <span class="blog-item__media">
                    <img src="img/img-blog.jpg" alt="">
                </span>
                <span class="blog-item__caption">Обзор мсл лото забава. Доступное развлечение с высокой вероятностью получения выигрыш</span>
            </a>

            <a href="" class="blog-item">
                <span class="blog-item__media">
                    <img src="img/img-blog.jpg" alt="">
                </span>
                <span class="blog-item__caption">Какие встречаются покерные комбинации</span>
            </a>

            <div class="items__cta">
                <a href="" class="btn-primary">Показать больше</a>
            </div>
        </div>
    </div>
</div>

