* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

%container-general {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: $side-gutters-sm;
    padding-right: $side-gutters-sm;
}

.container {
    @extend %container-general;
    max-width: var(--container);

    &--xl {
        @extend %container-general;
        max-width: $container-xl;
    }

    &--md {
        @extend %container-general;
        max-width: var(--container--md);
    }

    &--cms {
        @extend %container-general;
        max-width: var(--container--cms);
    }

    &--xs {
        @extend %container-general;
        max-width: $container-xs;
    }

    & &,
    .wrapped {
        @extend .no-gutters;
    }
}

.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-ttl {
    @include adaptive-font(20, 28);
    font-weight: 700;
    line-height: 1.358;
    color: var(--theme-cr-2);
}

.main {
    overflow: hidden;
    position: relative;
    padding-top: 111px;
    color: var(--theme-cr-txt-alt);
    background-color: var(--theme-cr-2);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    @include media('>=desktop') {
        padding-top: 146px;
    }

    .webp & {
        background-image: var(--bg-main-webp);
    }

    body:not(.webp) & {
        background-image: var(--bg-main);
    }
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination:not(.pagination-circle) {
    .swiper-pagination-bullet {
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background-color: var(--theme-cr-2);
        margin-left: 3px;
        margin-right: 3px;

        @include hover {
            background-color: var(--theme-cr-3);
        }

        &.swiper-pagination-bullet-active {
            background-color: var(--theme-cr-3);
        }
    }
}
