<div class="useful-categories">
    <div class="container">
        <div class="useful-group">
            <a href="" class="news-item">
                <div class="news-item__img">
                    <img src="img/logo-slotoking.png" alt="">
                </div>
                <div class="news-item__txt">
                    <span class="news-item__date">02.06.21</span>
                    <strong class="news-item__ttl">Казино дающие деньги за регистрацию Украина</strong>
                    <p>Our casino reviews are expertly researched, critical and balanced, and we provide insight on every aspect, bringing to our readers an honest casino review process. </p>
                </div>
            </a>

            <a href="" class="news-item">
                <div class="news-item__img">
                    <img src="img/logo-slotoking.png" alt="">
                </div>
                <div class="news-item__txt">
                    <span class="news-item__date">02.06.21</span>
                    <span class="news-item__ttl">Лучшие игровые автоматы с выводом денег в казино!</span>
                    <p>Our casino reviews are expertly researched, critical and balanced, and we provide insight on every aspect, bringing to our readers an honest casino review process. </p>
                </div>
            </a>

            <a href="" class="news-item">
                <div class="news-item__img">
                    <img src="img/logo-slotoking.png" alt="">
                </div>
                <div class="news-item__txt">
                    <span class="news-item__date">02.06.21</span>
                    <strong class="news-item__ttl">Казино дающие деньги за регистрацию Украина</strong>
                    <p>Our casino reviews are expertly researched, critical and balanced, and we provide insight on every aspect, bringing to our readers an honest casino review process. </p>
                </div>
            </a>

            <a href="" class="news-item">
                <div class="news-item__img">
                    <img src="img/logo-slotoking.png" alt="">
                </div>
                <div class="news-item__txt">
                    <span class="news-item__date">02.06.21</span>
                    <span class="news-item__ttl">Лучшие игровые автоматы с выводом денег в казино!</span>
                    <p>Our casino reviews are expertly researched, critical and balanced, and we provide insight on every aspect, bringing to our readers an honest casino review process. </p>
                </div>
            </a>

            <a href="" class="news-item">
                <div class="news-item__img">
                    <img src="img/logo-slotoking.png" alt="">
                </div>
                <div class="news-item__txt">
                    <span class="news-item__date">02.06.21</span>
                    <strong class="news-item__ttl">Казино дающие деньги за регистрацию Украина</strong>
                    <p>Our casino reviews are expertly researched, critical and balanced, and we provide insight on every aspect, bringing to our readers an honest casino review process. </p>
                </div>
            </a>

            <a href="" class="news-item">
                <div class="news-item__img">
                    <img src="img/logo-slotoking.png" alt="">
                </div>
                <div class="news-item__txt">
                    <span class="news-item__date">02.06.21</span>
                    <span class="news-item__ttl">Лучшие игровые автоматы с выводом денег в казино!</span>
                    <p>Our casino reviews are expertly researched, critical and balanced, and we provide insight on every aspect, bringing to our readers an honest casino review process. </p>
                </div>
            </a>
        </div>

        <div class="items-more">
            <a href="" class="btn-primary">Показать больше</a>
        </div>
    </div>
</div>

