<div class="casinos">
    <div class="container">
        <div class="casinos__container">
            <div class="casino-item">
                <div class="casino-item__top">
                    <div class="casino-item__logo">
                        <img src="img/logo-slotoking.png" alt="">
                    </div>

                    <div class="casino-item__rating">
                        <div class="circle-rating">
                            <svg viewBox="0 0 36 36" class="circle-rating__chart">
                                <path class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                                <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                                <path class="circle-rating__circle" stroke-dasharray="30, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <div class="circle-rating__percentage">30</div>
                        </div>
                        <span class="casinos-rating__txt">Рейтинг</span>
                    </div>
                </div>

                <div class="casino-item__content">
                    <div class="casino-param">
                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/fire.svg" width="17" alt="">
                            <span class="casino-param__txt">Regular Offers</span>
                        </div>

                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/chat.svg" width="19" alt="">
                            <span class="casino-param__txt">Live Chat</span>
                        </div>

                        <div class="casino-param__item disabled">
                            <img class="casino-param__img" src="img/casino.svg" width="19" alt="">
                            <span class="casino-param__txt">Live Casino</span>
                        </div>

                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/fire.svg" width="17" alt="">
                            <span class="casino-param__txt">Vip Program</span>
                        </div>
                    </div>

                    <div class="casino-bonuses">
                        <div class="casino-bonus">
                            <span class="casino-bonus__value" style="color: #ffe600;">24 000 UAH</span>
                            <span class="casino-bonus__ttl">Приветственный бонус</span>

                            <div class="casino-bonus__wager">40x Вейджер</div>
                        </div>

                        <div class="casino-bonus">
                            <span class="casino-bonus__value" style="color: #12d4ff;">225</span>
                            <span class="casino-bonus__ttl">Фри спины</span>

                            <div class="casino-bonus__wager">30x Вейджер</div>
                        </div>
                    </div>

                    <div class="casino-item__btns">
                        <a href="" class="casino-item__btn --green">Обзор казино</a>
                        <a href="" class="casino-item__btn --blue">Перейти</a>
                    </div>
                </div>
            </div>

            <div class="casino-item">
                <div class="casino-item__top">
                    <div class="casino-item__logo">
                        <img src="img/logo-slotoking.png" alt="">
                    </div>

                    <div class="casino-item__rating">
                        <div class="circle-rating">
                            <svg viewBox="0 0 36 36" class="circle-rating__chart">
                                <path class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                                <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                                <path class="circle-rating__circle" stroke-dasharray="30, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <div class="circle-rating__percentage">30</div>
                        </div>
                        <span class="casinos-rating__txt">Рейтинг</span>
                    </div>
                </div>

                <div class="casino-item__content">
                    <div class="casino-param">
                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/fire.svg" width="17" alt="">
                            <span class="casino-param__txt">Regular Offers</span>
                        </div>

                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/chat.svg" width="19" alt="">
                            <span class="casino-param__txt">Live Chat</span>
                        </div>

                        <div class="casino-param__item disabled">
                            <img class="casino-param__img" src="img/casino.svg" width="19" alt="">
                            <span class="casino-param__txt">Live Casino</span>
                        </div>

                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/fire.svg" width="17" alt="">
                            <span class="casino-param__txt">Vip Program</span>
                        </div>
                    </div>

                    <div class="casino-bonuses">
                        <div class="casino-bonus">
                            <span class="casino-bonus__value" style="color: #ffe600;">24 000 UAH</span>
                            <span class="casino-bonus__ttl">Приветственный бонус</span>

                            <div class="casino-bonus__wager">40x Вейджер</div>
                        </div>

                        <div class="casino-bonus">
                            <span class="casino-bonus__value" style="color: #12d4ff;">225</span>
                            <span class="casino-bonus__ttl">Фри спины</span>

                            <div class="casino-bonus__wager">30x Вейджер</div>
                        </div>
                    </div>

                    <div class="casino-item__btns">
                        <a href="" class="casino-item__btn --green">Обзор казино</a>
                        <a href="" class="casino-item__btn --blue">Перейти</a>
                    </div>
                </div>
            </div>

            <div class="casino-item">
                <div class="casino-item__top">
                    <div class="casino-item__logo">
                        <img src="img/logo-slotoking.png" alt="">
                    </div>

                    <div class="casino-item__rating">
                        <div class="circle-rating">
                            <svg viewBox="0 0 36 36" class="circle-rating__chart">
                                <path class="circle-rating__circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                                <!-- значение рейтинга - 1ый параметр в атрибуте stroke-dasharray -->
                                <path class="circle-rating__circle" stroke-dasharray="75, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <div class="circle-rating__percentage">75</div>
                        </div>
                        <span class="casinos-rating__txt">Рейтинг</span>
                    </div>
                </div>

                <div class="casino-item__content">
                    <div class="casino-param">
                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/fire.svg" width="17" alt="">
                            <span class="casino-param__txt">Regular Offers</span>
                        </div>

                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/chat.svg" width="19" alt="">
                            <span class="casino-param__txt">Live Chat</span>
                        </div>

                        <div class="casino-param__item disabled">
                            <img class="casino-param__img" src="img/casino.svg" width="19" alt="">
                            <span class="casino-param__txt">Live Casino</span>
                        </div>

                        <div class="casino-param__item">
                            <img class="casino-param__img" src="img/fire.svg" width="17" alt="">
                            <span class="casino-param__txt">Vip Program</span>
                        </div>
                    </div>

                    <div class="casino-bonuses">
                        <div class="casino-bonus">
                            <span class="casino-bonus__value" style="color: #ffe600;">24 000 UAH</span>
                            <span class="casino-bonus__ttl">Приветственный бонус</span>

                            <div class="casino-bonus__wager">40x Вейджер</div>
                        </div>

                        <div class="casino-bonus">
                            <span class="casino-bonus__value" style="color: #12d4ff;">225</span>
                            <span class="casino-bonus__ttl">Фри спины</span>

                            <div class="casino-bonus__wager">30x Вейджер</div>
                        </div>
                    </div>

                    <div class="casino-item__btns">
                        <a href="" class="casino-item__btn --green">Обзор казино</a>
                        <a href="" class="casino-item__btn --blue">Перейти</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="casinos__cta">
            <a href="" class="btn-primary">Показать больше</a>
        </div>
    </div>
</div>

